#pwreq {
  list-style-type: none;
  padding: 0;
}

#passwordContainer {
    position: relative;
 }

#password {
    padding-right: 30px;
    width: 100%;
}

#eye-icon {
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.mySize{
    height: 300px;
}
.container {
    position: relative; /* Lehetővé teszi a gyermek elemek pozicionálását */
    min-height: 88.1vh; /* Minimum magasság, hogy a container kitöltse a képernyőt */
    padding-bottom: 50px; /* Hely a rendelés div számára */
}
#AnotherAddress {
    display: none;
}